* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;


}

/* CLASSES FONCTIONNELS FLEX BOX */

/* Rendre flexible un parent = aligner ses enfants */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;

}

.justify-center {
    justify-content: center;
}

/* CLASSE DE DIMENSIONS */

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-100 {
    width: 100%;
}

.w-25 {
    width: 23%;
}
.w-48 {
    width: 48%;
}

/* HEADER */

.logo {
    width: 64px;
}

header ul {
    list-style: none;
}

.text-black {
    text-decoration: black;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 20px 64px;
    box-shadow: 0px 5px 10px rgb(173, 173, 173);

}

/* SECTION HERO */

.section-hero {
    background-image: url(assets-interno/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-bottom-left-radius: 250px;
}




h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}


.btn {
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.section-hero div>p {
    margin-bottom: 25px;
}

.btn-primary {
    font-size: 20px;

}

.btn-secondary {
    font-size: 14px;
}

.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
width: 100%;
}

.margin-top-100 {
    margin-top: 100px;
}

/* SECTION SERVICES */

.card {
    box-shadow: 5px 5px 10px rgb(173, 173, 173);
    border-radius: 20px;
    padding: 15px;
    background: #fff;
}
.card h3 {
    margin-bottom: 20px;

}

.card p{
    margin-bottom: 15px;
}

.flex-start {
    justify-content: flex-start;
}

.margin-top30 {
margin-top: 30px;
}

.border-gauche {
    border-bottom-left-radius: 150px;
}
.border-droite {
    border-top-right-radius: 150px;
}

.text-center {
    text-align: center;
}

.align-content-center { align-content: center; }

.w-40 {
    width: 40%;
}

.bg-beige {
    background-color: #f4f0ec;
}

.bg-blanc {
    background-color: white;
}

.w-15 {
    width: 15px;
}

.padding15 {
    padding: 100px 0;
}